* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #FF6900;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    color: white;
    min-height: 60px;
    align-items: center;
}

footer{
    background-color: #1A1A1A;
    border-bottom: 1px solid white;

}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* HEADER */

.top-list {
    list-style-type: none;
    justify-content: space-between;
}

.nav-bar-list {
    min-width: 15%;
}

.nav-logo {
    min-width: 65%;
    justify-content: center;
}

#logo {
    width: 120px;
}

.nav-icon {
    min-width: 20%;
    justify-content: flex-end;

}

.nav-icon .fa {
    color: white;
    padding: 5px;
}


/* MAIN */

.card{
    width: calc(33% - 8px);
    position: relative;
}

.card  img {
    width: 100%;
}

.row {
    margin: 50px 0;
    /* background-color: pink; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.label{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.disc-tag{
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    background: red;
    bottom: 100px;
}

.tag{
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    background: green;
    bottom: 100px;
}

.disc-tag + .tag{
    bottom: 100px;
    left: 55px;
}

.fav-icon{
    top: 8px;
    right: 0px;
    background-color: white;
    width: 35px;
    height: 35px;
}

.fav-icon:hover{
    color: red;
    cursor: pointer;
}

.starting-price{
    color: black;
}

.price{
    color: red;
}


/* FOOTER */

.footer-container{
    color: white;
}

.footer-info{
    /* background-color: crimson; */
    min-width: 70%;
    margin: 30px 0;
    align-items: center;
}
.footer-info h3{
    margin-bottom: 10px;
}

.footer-info li{
    list-style-type: none;
    padding-right: 20px;
}

.footer-social{
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    margin: 30px 0;
    padding-right: 16px;
    /* background-color: aquamarine; */
}

.social-icon{
    font-size: 1.2em;
    padding: 10px 8px 0px 0px;
}